In [1]:
pwd

'/Users/cathalijnvos/Documents/GitHub/IH-final-project/Notebooks'

In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv ('/Users/cathalijnvos/Documents/GitHub/IH-final-project/Data/dataset_instagram-post-scraper_2022-06-01_12-20-13-648.csv')

In [4]:
df2 = pd.read_csv ('/Users/cathalijnvos/Documents/GitHub/IH-final-project/Data/dataset_instagram-post-scraper_2022-06-01_12-24-33-923 (1).csv')

In [5]:
df3 = pd.read_csv ('/Users/cathalijnvos/Documents/GitHub/IH-final-project/Data/dataset_instagram-post-scraper_2022-06-01_12-31-16-806.csv')

In [6]:
df4 = pd.read_csv ('/Users/cathalijnvos/Documents/GitHub/IH-final-project/Data/dataset_instagram-post-scraper_2022-06-01_12-36-27-721.csv')

In [7]:
df1_new = df1[['timestamp','caption']].copy()

In [8]:
df2_new = df2[['timestamp','caption']].copy()

In [9]:
df3_new = df3[['timestamp','caption']].copy()

In [10]:
df4_new = df4[['timestamp','caption']].copy()

In [11]:
df=pd.concat([df1_new, df2_new, df3_new, df4_new], axis=0)

In [12]:
df

,timestamp,caption
0,2022-05-31T18:31:42.000Z,Should I make more smoothie recipes?\n\n1/2 ba...
1,2022-05-30T17:46:48.000Z,"The weekend isn’t over, so enjoy it with some ..."
2,2022-05-29T18:05:06.000Z,"Let’s make the drink of the summer! Yes, it’s ..."
3,2022-05-28T16:26:11.000Z,"Another easy weekend cocktail, Peach Bourbon S..."
4,2022-05-27T18:50:36.000Z,Have you had an Irish coffee before? Better qu...
...,...,...
21,2014-10-12T17:41:25.000Z,Blood & Sand\n\nInto a shaker add:\n1 Shot Whi...
22,2014-10-06T21:04:21.000Z,Army & Navy\n\nInto a shaker add:\n2 Shots of ...
23,2014-10-02T21:47:43.000Z,Into a Cocktail Shaker add:\n2 Shots of Gin\n1...
24,2014-10-01T19:33:04.000Z,Into a Cocktail Shaker add:\n2 Shots of Gin\n1...
25,2014-10-01T19:20:09.000Z,Join the club. #cocktailrecipes #cocktails #re...

In [13]:
df['Date'] = df['timestamp'].str[0:7]

In [14]:
df['Ingredients'] = df['caption']

In [15]:
df = df[['Date','Ingredients']].copy()
df

       Date                                        Ingredients
0   2022-05  Should I make more smoothie recipes?\n\n1/2 ba...
1   2022-05  The weekend isn’t over, so enjoy it with some ...
2   2022-05  Let’s make the drink of the summer! Yes, it’s ...
3   2022-05  Another easy weekend cocktail, Peach Bourbon S...
4   2022-05  Have you had an Irish coffee before? Better qu...
..      ...                                                ...
21  2014-10  Blood & Sand\n\nInto a shaker add:\n1 Shot Whi...
22  2014-10  Army & Navy\n\nInto a shaker add:\n2 Shots of ...
23  2014-10  Into a Cocktail Shaker add:\n2 Shots of Gin\n1...
24  2014-10  Into a Cocktail Shaker add:\n2 Shots of Gin\n1...
25  2014-10  Join the club. #cocktailrecipes #cocktails #re...

[130 rows x 2 columns]

In [16]:
df5 = pd.read_csv ('/Users/cathalijnvos/Documents/GitHub/IH-final-project/Data/df_thedrinkblog.csv')

In [17]:
df6 = pd.read_csv ('/Users/cathalijnvos/Documents/GitHub/IH-final-project/Data/liquorcom.csv')

In [18]:
df7 = pd.read_csv ('/Users/cathalijnvos/Documents/GitHub/IH-final-project/Data/keetscocktails.csv')

In [19]:
df=pd.concat([df, df5, df6, df7], axis=0)

In [20]:
df.drop(df.filter(regex="Unname"),axis=1, inplace=True)

In [21]:
df

        Date                                        Ingredients
0    2022-05  Should I make more smoothie recipes?\n\n1/2 ba...
1    2022-05  The weekend isn’t over, so enjoy it with some ...
2    2022-05  Let’s make the drink of the summer! Yes, it’s ...
3    2022-05  Another easy weekend cocktail, Peach Bourbon S...
4    2022-05  Have you had an Irish coffee before? Better qu...
..       ...                                                ...
316  2021-10  Despite its name,SATAN’S WHISKERSis anything b...
317  2020-10  TheSCOFFLAWcocktail was created in 1924 Paris ...
318  2022-03  TheSTILETTO MANHATTANadds a small portion of A...
319  2022-03  The Mexican version of a martini is theTEQUINI...
320  2022-05  The peak season for ruby-red grapefruit (Novem...

[612 rows x 2 columns]

In [22]:
df_kaggle = pd.read_csv ('/Users/cathalijnvos/Documents/GitHub/IH-final-project/Data/all_drinks.csv')

In [23]:
df_kaggle.drop(df_kaggle.filter(regex="Unname"),axis=1, inplace=True)

In [24]:
df_kaggle.drop(['strDrink', 'idDrink', 'strAlcoholic', 'strCategory', 'strDrinkThumb', 'strGlass',
        'strGlass', 'strIBA', 'strIngredient10', 'strIngredient12', 'strIngredient13', 'strIngredient14', 
         'strIngredient15', 'strInstructions', 'strMeasure1', 'strMeasure10', 'strMeasure11', 'strMeasure12',
         'strMeasure13','strMeasure14','strMeasure15','strMeasure2','strMeasure3','strMeasure4','strMeasure5','strMeasure6',
        'strMeasure7','strMeasure8','strMeasure9','strVideo'],axis = 1, inplace = True)

In [25]:
df_kaggle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546 entries, 0 to 545
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   dateModified     545 non-null    object
 1   strIngredient1   546 non-null    object
 2   strIngredient11  3 non-null      object
 3   strIngredient2   546 non-null    object
 4   strIngredient3   461 non-null    object
 5   strIngredient4   294 non-null    object
 6   strIngredient5   166 non-null    object
 7   strIngredient6   78 non-null     object
 8   strIngredient7   25 non-null     object
 9   strIngredient8   15 non-null     object
 10  strIngredient9   6 non-null      object
dtypes: object(11)
memory usage: 47.0+ KB

In [26]:
df_kaggle.fillna(' ', inplace=True)

In [27]:
df_kaggle['Ingredients']=df_kaggle['strIngredient1'] + ', ' + df_kaggle['strIngredient2']+ ', ' + df_kaggle['strIngredient11'] + ', ' + df_kaggle['strIngredient3'] + ', ' + df_kaggle['strIngredient4'] + ', ' + df_kaggle['strIngredient5'] + ', ' + df_kaggle['strIngredient6'] + ', ' + df_kaggle['strIngredient7'] + ', ' + df_kaggle['strIngredient9'] + ', ' + df_kaggle['strIngredient9']

In [28]:
df_kaggle.drop(['strIngredient1', 'strIngredient11', 'strIngredient2', 'strIngredient3', 'strIngredient4',
        'strIngredient5', 'strIngredient6', 'strIngredient7', 'strIngredient8', 'strIngredient9'],axis = 1, inplace = True)

In [29]:
df_kaggle

            dateModified                                        Ingredients
0    2016-07-18 22:49:04      Creme de Cacao, Vodka,  ,  ,  ,  ,  ,  ,  ,
1    2016-07-18 22:27:04  Absolut Kurant, Grand Marnier,  , Chambord ras...
2    2016-02-03 14:51:57             Lager, Tequila,  ,  ,  ,  ,  ,  ,  ,
3    2016-07-18 22:28:43  Malibu rum, Light rum,  , 151 proof rum, Dark ...
4    2016-10-05 12:36:28  Dark rum, Light rum,  , Vodka, Orange juice,  ...
..                   ...                                                ...
541  2017-01-28 16:18:33       Amaretto, Rum,  , Kool-Aid,  ,  ,  ,  ,  ,
542  2017-01-28 16:25:52  Cointreau, Lemon juice,  , Ice, Lemon,  ,  ,  ...
543  2017-01-28 16:28:50  Beer, Root beer,  , Lemonade, Coca-Cola, 7-Up,...
544  2017-01-28 16:32:35                Vodka, Ouzo,  ,  ,  ,  ,  ,  ,  ,
545  2017-01-28 16:34:43  Sambuca, Bailey's irish cream,  , White Creme ...

[546 rows x 2 columns]

In [30]:
df_kaggle['dateModified'] = df_kaggle['dateModified'].str[:-12] #cleaning the date

In [31]:
df_kaggle['dateModified'] = df_kaggle['dateModified'].astype('datetime64[ns]')

In [32]:
df_kaggle['dateModified'].dtypes #means type object

dtype('<M8[ns]')

In [33]:
from datetime import datetime as dt

In [34]:
df_kaggle['dateModified']=df_kaggle['dateModified'].dt.strftime("%Y-%m")

In [35]:
df_kaggle.rename(columns={'dateModified': 'Date'},inplace=True, errors='raise')

In [36]:
df_kaggle

        Date                                        Ingredients
0    2016-07      Creme de Cacao, Vodka,  ,  ,  ,  ,  ,  ,  ,
1    2016-07  Absolut Kurant, Grand Marnier,  , Chambord ras...
2    2016-02             Lager, Tequila,  ,  ,  ,  ,  ,  ,  ,
3    2016-07  Malibu rum, Light rum,  , 151 proof rum, Dark ...
4    2016-10  Dark rum, Light rum,  , Vodka, Orange juice,  ...
..       ...                                                ...
541  2017-01       Amaretto, Rum,  , Kool-Aid,  ,  ,  ,  ,  ,
542  2017-01  Cointreau, Lemon juice,  , Ice, Lemon,  ,  ,  ...
543  2017-01  Beer, Root beer,  , Lemonade, Coca-Cola, 7-Up,...
544  2017-01                Vodka, Ouzo,  ,  ,  ,  ,  ,  ,  ,
545  2017-01  Sambuca, Bailey's irish cream,  , White Creme ...

[546 rows x 2 columns]

In [37]:
df_comp=pd.concat([df, df_kaggle], axis=0)

In [38]:
# df_8 = pd.read_csv ('/Users/cathalijnvos/Documents/GitHub/IH-final-project/Data/cocktail_recipes.csv')

In [39]:
df_9 = pd.read_csv ('/Users/cathalijnvos/Documents/GitHub/IH-final-project/Data/thestraghtup.csv')

In [40]:
# df_8

In [41]:
df_9

        Date                                        Ingredients
0    2013-06  1oz Gin,1oz Gran Classico,1oz Cynar,1 dropper ...
1    2013-03  1.5 Gin,.75 Cynar,.33 Campari,.5  Maurin Quina...
2    2014-03  .5oz Absinthe,.5oz Genepy,.5oz Green Chartreus...
3    2013-09  1.5oz Gin,.75oz Lillet Blanc,.75oz Orange Juic...
4    2013-02  .5oz Aperol,1.5oz Gin (Beefeater),.25oz Campar...
..       ...                                                ...
118  2013-04  1 oz Gin,.75oz Domaine de Canton,.25oz Aperol,...
119  2013-04  1oz Rye,1oz Allspice Dram,1oz Creme de Violett...
120  2013-07  2oz Bourbon,.75oz Lemon Juice,.75oz Simple Syr...
121  2014-11  1.5oz Apple Brandy,.75oz Yellow Chartreuse,.75...
122  2013-04  2oz Reposado Tequila,1oz St. Germain,.75oz Yel...

[123 rows x 2 columns]

In [42]:
df_comp=pd.concat([df_comp, df_9], axis=0)

In [43]:
df_comp

        Date                                        Ingredients
0    2022-05  Should I make more smoothie recipes?\n\n1/2 ba...
1    2022-05  The weekend isn’t over, so enjoy it with some ...
2    2022-05  Let’s make the drink of the summer! Yes, it’s ...
3    2022-05  Another easy weekend cocktail, Peach Bourbon S...
4    2022-05  Have you had an Irish coffee before? Better qu...
..       ...                                                ...
118  2013-04  1 oz Gin,.75oz Domaine de Canton,.25oz Aperol,...
119  2013-04  1oz Rye,1oz Allspice Dram,1oz Creme de Violett...
120  2013-07  2oz Bourbon,.75oz Lemon Juice,.75oz Simple Syr...
121  2014-11  1.5oz Apple Brandy,.75oz Yellow Chartreuse,.75...
122  2013-04  2oz Reposado Tequila,1oz St. Germain,.75oz Yel...

[1281 rows x 2 columns]

In [44]:
df_comp.to_csv('df_final.csv', index = False)