In [1]:
pwd

'/Users/cathalijnvos/Documents/GitHub/IH-final-project/Notebooks'

In [2]:
import pandas as pd

df1 = pd.read_csv ('/Users/cathalijnvos/Documents/GitHub/IH-final-project/Data/dataset_instagram-post-scraper_2022-06-01_12-20-13-648.csv')

In [3]:
import pandas as pd

df2 = pd.read_csv ('/Users/cathalijnvos/Documents/GitHub/IH-final-project/Data/dataset_instagram-post-scraper_2022-06-01_12-24-33-923 (1).csv')

In [4]:
import pandas as pd

df3 = pd.read_csv ('/Users/cathalijnvos/Documents/GitHub/IH-final-project/Data/dataset_instagram-post-scraper_2022-06-01_12-31-16-806.csv')

In [5]:
import pandas as pd

df4 = pd.read_csv ('/Users/cathalijnvos/Documents/GitHub/IH-final-project/Data/dataset_instagram-post-scraper_2022-06-01_12-36-27-721.csv')

In [6]:
df1_new = df1[['caption','timestamp']].copy()

In [7]:
df2_new = df2[['caption','timestamp']].copy()

In [8]:
df3_new = df3[['caption','timestamp']].copy()

In [9]:
df4_new = df4[['caption','timestamp']].copy()

In [10]:
df=pd.concat([df1_new, df2_new, df3_new, df4_new], axis=0)

In [11]:
df

,caption,timestamp
0,Should I make more smoothie recipes?\n\n1/2 ba...,2022-05-31T18:31:42.000Z
1,"The weekend isn’t over, so enjoy it with some ...",2022-05-30T17:46:48.000Z
2,"Let’s make the drink of the summer! Yes, it’s ...",2022-05-29T18:05:06.000Z
3,"Another easy weekend cocktail, Peach Bourbon S...",2022-05-28T16:26:11.000Z
4,Have you had an Irish coffee before? Better qu...,2022-05-27T18:50:36.000Z
...,...,...
21,Blood & Sand\n\nInto a shaker add:\n1 Shot Whi...,2014-10-12T17:41:25.000Z
22,Army & Navy\n\nInto a shaker add:\n2 Shots of ...,2014-10-06T21:04:21.000Z
23,Into a Cocktail Shaker add:\n2 Shots of Gin\n1...,2014-10-02T21:47:43.000Z
24,Into a Cocktail Shaker add:\n2 Shots of Gin\n1...,2014-10-01T19:33:04.000Z
25,Join the club. #cocktailrecipes #cocktails #re...,2014-10-01T19:20:09.000Z

In [12]:
df['timestamp'] = df['timestamp'].str[0:7]

In [13]:
df

                                              caption timestamp
0   Should I make more smoothie recipes?\n\n1/2 ba...   2022-05
1   The weekend isn’t over, so enjoy it with some ...   2022-05
2   Let’s make the drink of the summer! Yes, it’s ...   2022-05
3   Another easy weekend cocktail, Peach Bourbon S...   2022-05
4   Have you had an Irish coffee before? Better qu...   2022-05
..                                                ...       ...
21  Blood & Sand\n\nInto a shaker add:\n1 Shot Whi...   2014-10
22  Army & Navy\n\nInto a shaker add:\n2 Shots of ...   2014-10
23  Into a Cocktail Shaker add:\n2 Shots of Gin\n1...   2014-10
24  Into a Cocktail Shaker add:\n2 Shots of Gin\n1...   2014-10
25  Join the club. #cocktailrecipes #cocktails #re...   2014-10

[130 rows x 2 columns]