In [1]:
pwd

'/Users/cathalijnvos/Documents/GitHub/IH-final-project/Notebooks'

In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv ('/Users/cathalijnvos/Documents/GitHub/IH-final-project/Data/dataset_instagram-post-scraper_2022-06-01_12-20-13-648.csv')

In [4]:
df2 = pd.read_csv ('/Users/cathalijnvos/Documents/GitHub/IH-final-project/Data/dataset_instagram-post-scraper_2022-06-01_12-24-33-923 (1).csv')

In [5]:
df3 = pd.read_csv ('/Users/cathalijnvos/Documents/GitHub/IH-final-project/Data/dataset_instagram-post-scraper_2022-06-01_12-31-16-806.csv')

In [6]:
df4 = pd.read_csv ('/Users/cathalijnvos/Documents/GitHub/IH-final-project/Data/dataset_instagram-post-scraper_2022-06-01_12-36-27-721.csv')

In [8]:
df1_new = df1[['timestamp','caption']].copy()

In [9]:
df2_new = df2[['timestamp','caption']].copy()

In [10]:
df3_new = df3[['timestamp','caption']].copy()

In [11]:
df4_new = df4[['timestamp','caption']].copy()

In [12]:
df=pd.concat([df1_new, df2_new, df3_new, df4_new], axis=0)

In [13]:
df

,timestamp,caption
0,2022-05-31T18:31:42.000Z,Should I make more smoothie recipes?\n\n1/2 ba...
1,2022-05-30T17:46:48.000Z,"The weekend isn’t over, so enjoy it with some ..."
2,2022-05-29T18:05:06.000Z,"Let’s make the drink of the summer! Yes, it’s ..."
3,2022-05-28T16:26:11.000Z,"Another easy weekend cocktail, Peach Bourbon S..."
4,2022-05-27T18:50:36.000Z,Have you had an Irish coffee before? Better qu...
...,...,...
21,2014-10-12T17:41:25.000Z,Blood & Sand\n\nInto a shaker add:\n1 Shot Whi...
22,2014-10-06T21:04:21.000Z,Army & Navy\n\nInto a shaker add:\n2 Shots of ...
23,2014-10-02T21:47:43.000Z,Into a Cocktail Shaker add:\n2 Shots of Gin\n1...
24,2014-10-01T19:33:04.000Z,Into a Cocktail Shaker add:\n2 Shots of Gin\n1...
25,2014-10-01T19:20:09.000Z,Join the club. #cocktailrecipes #cocktails #re...

In [14]:
df['Date'] = df['timestamp'].str[0:7]

In [15]:
df['Ingredients'] = df['caption']

In [16]:
df = df[['Date','Ingredients']].copy()
df

       Date                                        Ingredients
0   2022-05  Should I make more smoothie recipes?\n\n1/2 ba...
1   2022-05  The weekend isn’t over, so enjoy it with some ...
2   2022-05  Let’s make the drink of the summer! Yes, it’s ...
3   2022-05  Another easy weekend cocktail, Peach Bourbon S...
4   2022-05  Have you had an Irish coffee before? Better qu...
..      ...                                                ...
21  2014-10  Blood & Sand\n\nInto a shaker add:\n1 Shot Whi...
22  2014-10  Army & Navy\n\nInto a shaker add:\n2 Shots of ...
23  2014-10  Into a Cocktail Shaker add:\n2 Shots of Gin\n1...
24  2014-10  Into a Cocktail Shaker add:\n2 Shots of Gin\n1...
25  2014-10  Join the club. #cocktailrecipes #cocktails #re...

[130 rows x 2 columns]

In [17]:
df5 = pd.read_csv ('/Users/cathalijnvos/Documents/GitHub/IH-final-project/Data/df_thedrinkblog.csv')

In [18]:
df=pd.concat([df, df5], axis=0)
df

        Date                                        Ingredients  Unnamed: 0
0    2022-05  Should I make more smoothie recipes?\n\n1/2 ba...         NaN
1    2022-05  The weekend isn’t over, so enjoy it with some ...         NaN
2    2022-05  Let’s make the drink of the summer! Yes, it’s ...         NaN
3    2022-05  Another easy weekend cocktail, Peach Bourbon S...         NaN
4    2022-05  Have you had an Irish coffee before? Better qu...         NaN
..       ...                                                ...         ...
135  2015-10  2½ oz. silver tequila,½ oz. Grand Marnier,1 oz...       135.0
136  2016-02  2 oz. whisky,⅔ oz. lemon juice,1 tsp. sugar (t...       136.0
137  2015-12  1 oz. vodka,1 oz. rum,½ oz. white crème de cac...       137.0
138  2015-12  2 oz. white crème de cacao,1 oz. almond liqueu...       138.0
139  2016-06  3 oz. pisco,1 oz. lime juice,1 oz. strawberry ...       139.0

[270 rows x 3 columns]