In [1]:
import pandas as pd

In [2]:
df = pd.read_csv ('/Users/cathalijnvos/Documents/GitHub/IH-final-project/Data/df_comp.csv')

In [4]:
df["Ingredients"] = df["Ingredients"].str.lower()

In [5]:
df

         Date                                        Ingredients
0     2022-05  should i make more smoothie recipes?\n\n1/2 ba...
1     2022-05  the weekend isn’t over, so enjoy it with some ...
2     2022-05  let’s make the drink of the summer! yes, it’s ...
3     2022-05  another easy weekend cocktail, peach bourbon s...
4     2022-05  have you had an irish coffee before? better qu...
...       ...                                                ...
1153  2017-01       amaretto, rum,  , kool-aid,  ,  ,  ,  ,  ,
1154  2017-01  cointreau, lemon juice,  , ice, lemon,  ,  ,  ...
1155  2017-01  beer, root beer,  , lemonade, coca-cola, 7-up,...
1156  2017-01                vodka, ouzo,  ,  ,  ,  ,  ,  ,  ,
1157  2017-01  sambuca, bailey's irish cream,  , white creme ...

[1158 rows x 2 columns]

In [ ]:
starts with or regex % to get all or strawber in (last, best option)

In [ ]:
Herbs=[mint, basil, cardamon, cinnamon, coriander, ginger, lavender, rosemary, eucalyptus,
       lemongrass, tarragon, vanilla, chamomile, cocoa]

Herbs=[mint, ment, basil, cardamon, cinnamon, coriander, ginger, lavender, rosemar, eucalypt,
       lemongrass, tarragon, vanilla, chamomile, cocoa]

In [ ]:
Complements=[milk, sparkling water, cucumber, chilli, syrup, coffee, bitters, cream, lemonade]

Complements=[milk, sparkling water, cucumber, chilli, syrup, coffee, bitter, cream, lemonade]

In [ ]:
Fruits=[lemon, banana, lime, citrus, watermelon, peach, pineapple, orange, cranberry, strawberry, blackberry, raspberry, 
blueberry, mango, papaya, apple, passion fruit, apricot, maracuya, cherry, kiwi, plum, grapes, fig, grapefruit, 
pomegranate, coconut, pumpkin]

Fruits=[lemon, banana, lime, citrus, watermelon, peach, pineapple, orange, cranber, strawber, blackber, raspber, 
blueber, mango, papaya, apple, passion fruit, apricot, maracuya, cher, kiwi, plum, grape, fig, grapefruit, 
pomegranate, coconut, pumpkin]

In [ ]:
spirits=[sparkling wine, champagne, prosecco, rum, vodka, gin, vermouth, cognac, whisky, bourbon, tequila, cachaça,
         liqueurs, mezcal]